#contato{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background: linear-gradient(45deg,red,blue);
    padding: 100px;
}

#contato form{
    width: 500px;
    color: white;
}

.form-text{
    color: white;
}

#planos{
    display: flex;
    justify-content: center;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;

}

#planos div{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}